{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title%}Rubber Ducky Parking{% endblock title %}</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" />
        <link rel="shortcut icon" type="image/ico" href="{% static 'favicon.ico' %}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
        {% block head %} {% endblock head %}
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-brand" href="/"><img style="width: 100%;" src="{% static 'testLogo.png' %}"></a>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/about/">Learn More</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/host/">List your Parking Spot</a>
                    </li>
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                        <a class="nav-link" href="">{{user.username}}</a>
                        <a class="nav-link" href="{% url 'logout' %}"> Log out </a>
                        {% else %}
                        <a class="nav-link" href="{% url 'login' %}"> Log in</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>

        <div>
            {% block content %} {% endblock content %}
        </div>
        <br>
        <div>
            <!-- Footer -->
            <footer class="bg-light text-center text-lg-start">
                <!-- Grid container -->
                <div class="container p-4">
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                            <h5 class="text-uppercase">Rubber Ducky Parking</h5>

                            <p>
                                Come join the revolution and stop the 'parking shuffle' on your next game day!
                            </p>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                            <h5 class="text-uppercase">Development</h5>

                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="https://github.com/Bryson14/RubberDuckyParking" target="_blank" class="text-dark">Source Code</a>
                                </li>
                                <li>
                                    <a href="https://github.com/Bryson14" target="_blank" class="text-dark">Bryson</a>
                                </li>
                                <li>
                                    <a href="https://github.com/drewrasm" target="_blank" class="text-dark">Andrew</a>
                                </li>
                                <li>
                                    <a href="https://github.com/Degin88" target="_blank" class="text-dark">Brandon </a>
                                </li>
                                <li>
                                    <a href="https://github.com/duskkiel" target="_blank" class="text-dark">Peyton </a>
                                </li>
                            </ul>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                            <h5 class="text-uppercase mb-0">Links</h5>

                            <ul class="list-unstyled">
                                <li>
                                    <a href="/host/" class="text-dark">Become a Host</a>
                                </li>
                                <li>
                                    <a href="mail:support@rubberducky.com" target="_blank" class="text-dark">Contact</a>
                                </li>
                                <li>
                                    <a href="/user/" class="text-dark">View Profile</a>
                                </li>
                                <li>
                                    <a href="/" class="text-dark">Cancellation Options</a>
                                </li>
                            </ul>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </div>
                <!-- Grid container -->

                <!-- Copyright -->
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                    © 2021 Copyright:
                    <a class="text-dark" href="https://mdbootstrap.com/">rubberduckyparking.com</a>
                </div>
                <!-- Copyright -->
            </footer>
            <!-- Footer -->
        </div>
    </body>
</html>
