/* insert the site's main styles here */
/* Main Colors chosen from coolors.co https://coolors.co/ffb41f-ff9505-003153-6E8898-9FB1BC-161a1d
These colors are subject to change, but are nice because they have some yellow, orange,
and black to match the ducky parking theme
ffb41f : Honey Yellow
ff9505 : Yellow Orange Color Wheel
003153 : Prussian Blue
6E8898 : Light Slate Gray
9FB1BC : Cadet Gray  (lighter and less blue than 6e8898)
161a1d : Eerie Black
FFFFFF : White

Stackoverflow bootstrap spacing
https://stackoverflow.com/questions/41574776/what-is-class-mb-0-in-bootstrap-4
*/

.header {
    display: flex;
    border-bottom: 2px solid black;
    width: 100%;
}
.header .header-buttons {
    padding: 3px;
}
.header .header-text {
    padding: 3px;
}

a {
    color: #ff9505;
}
a:hover {
    color: #ffb41f;
}

.navbar {
    background-color: #ffffff;
}

form {
    background-color: #9fb1bc;
    border-radius: 50px;
}

.form-div {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
}

.accent-secondary {
    color: #ff9505;
}

.accent-primary {
    color: #ffb41f;
}
.accent-primary:hover {
    color: #ff9505;
}

.footer-thing {
    background-color: rgba(0, 0, 0, 0.2);
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

form {
    text-align: center;
}

p {
    margin-left: 3rem;
    margin-right: 3rem;
}

.parking-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    background-color: #F2F3F4;
}

.parking-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.parking-card h2 {

}

.narrow {
    max-width: 35rem;
    min-width: 12rem;
    margin-top: 4rem;
}

.small-search-bar {
    max-width: 20%;
}

.search-bar {
}

