{% extends 'base.html' %}


{% block content %}
<h2>How Rubber Ducky Parking Works</h2>
<p>Everyone hates the parking lot shuffle. You know what the shuffle is; you plan to arrive at a sporting event, school,
or work 30 minutes because 'parking is terrible'. You drive about the city blocks with your head craning from
side to side, eyes fixes until you see an empty parking spot, only to find there's a moped taking up the entire space.
</p>

<h3>Is parking always supposed to suck?</h3>
<p>No! It doesn't have to be this way! Rubber Ducky parking is disrupting the parking industry. Not only does it
it allow you to rent your parking from the luxury of your couch, but now you have a reservation!</p>

<h3>I live close to parking-heavy areas</h3>
<p>Rubber Ducky Parking is the money-making opportunity for you. Do you have a driveway or garage that is open?
Did you wish that people would pay to park instead of parking obnoxiously on your street? <b>Become a Host!</b>
You choose when and where people can park, set up a schedule, and our system does rest. It gives you an easy way
to verify that someone has paid before parking.</p>
{% endblock %}