{% extends 'base.html' %}
{% block head %} {% endblock %}

{% block content%}

{% if user.is_authenticated %} <p>and is a host</p>
<div class="container">
    <h1>Host Profile for user <em>{{attendant_id}}</em></h1>
    <p>Here we can make a attendant profile where they can see their information, see the lots and cars they are
    responsible for and the cars that will be showing up that day to their lots.</p>
</div>

{% else %}

<div class="container">
    <p>Not logged in. Reroute to log in page</p>

</div>

{% endif %}

{% endblock %}