{% extends 'base.html' %}
{% block head %} {% endblock %}

{% block content%}

{% if user.is_authenticated %} <!-- <p>and is a host</p> -->
<div class="container">
    <h1>Host Profile for user <em>{{host_id}}</em></h1>
    <p>Here we can make a host profile that displays their parking lots, manage their parking spots, manage their attendants,
    see their transactions, view money report, etc</p>
</div>

{% else %}

<div class="container">
    <p>Not logged in. Reroute to log in page</p>

</div>

{% endif %}

{% endblock %}