{% extends 'base.html' %}
{% block title %}Lot Tools{% endblock title %}
{% block head %} {% endblock %}

{% block content%}

{% if user.is_authenticated %} <p>and is a host</p>
<div class="container">
    <h1>Parking Lot Tools</h1>
    <p>Here the attendant or host, while logged in, can scan people's QR codes, confirm that people are legit, and see
reports about how many people are going to be there, or who hasn't shown up.</p>
</div>

{% else %}

<div class="container">
    <p>Not logged in. Reroute to log in page</p>

</div>

{% endif %}

{% endblock %}