{% extends 'base.html' %}

{% block content %}

<div class="container jumbotron">
    <h1>Sign up for<i>Rubber Ducky Parking</i></h1>

</div>

<div class="container">
   <form action="/api/createProfile/" method="POST">
        {% csrf_token %}
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" name="email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
       <div class="form-group">
    <label for="phoneNumber">Phone Number</label>
    <input type="phone" class="form-control" id="phoneNumber" aria-describedby="phoneHelp" placeholder="Enter email" name="phoneNumber">
  </div>
        <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" aria-describedby="usernmaeHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
  </div>
       <div class="form-group">
    <label for="password2">Reenter Password</label>
    <input type="password" class="form-control" id="password2" placeholder="Reenter Password" name="password2">
  </div>
  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
    <ul>
        <li>name</li>
        <li>phone</li>
        <li>email</li>
        <li>username</li>
        <li>password</li>
        <li>profile picture</li>
    </ul>

    <p>in their profile, now that it is made, they will be able to:</p>

    <ul>
        <li>add a parking lot location</li>
        <li>add specific parking spots to that lot</li>
        <li>take pictures of the lot</li>
        <li>add attendants</li>
        <li>see income</li>
    </ul>
</div>



{% endblock %}